@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Rubik:400,500);
body {
    margin: 0;
    background-color: #ccc;
    font-family: 'Rubik', sans-serif;
}
h1, h2 {
	font-family: 'Montserrat', sans-serif;
}
.container {
	margin: 0 auto;
	width: 500px;
	background-color: #fff;
}
header {
	padding: 30px;
	background-image: url(https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg?h=350&auto=compress&cs=tinysrgb);
}
header h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 48px;
}
header p, 
header h1 {
    text-align: center;
    color: white;
}
section {
	padding: 0 20%;
}
.about h2 {
	color: blue;
	margin-top: 60px;
	font-size: 28px;
}
.interests h2 {
	color: red;
	margin-top: 40px;
}
.about {
	background-color: #FF0000;
}

.interests {
	background-color: #3311B0;
	color: white;
}
footer {
	margin-top: 15px;
	padding: 10px;
	background-color: black;
}
footer p {
	text-align: center;
	color: #fff;
}
footer p a {
	text-decoration: none;
	font-weight: bold;
	color: #FFC532;
}